@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.app {
  background-color: #fafafa;
}

/* ------- Header -------*/

.header-bar {
  background-color: #fff;
  width: 100%;
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
}

.title-navbar {
  display: flex;
}

.title-h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  color: #0290ff;
}

.nav-links {
  display: flex;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-self: center;
}

.nav-list li {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  padding: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  color: #121212;
}

.nav-list li a:link {
  text-decoration: none;
  opacity: 0.5;
}

.nav-list li a:hover {
  opacity: 1;
}

.avatar {
  padding-right: 100px;
  margin: auto 0;
}

.avatar-circle {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  padding: 10px;
}

/* ----- Books ------ */

/* ----- Book Info ---- */

.bookstore {
  padding: 50px;
}

.book-row {
  display: flex;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.book-first-column {
  padding: 25px;
  width: 60%;
}

.book-remaining-column {
  width: 40%;
  display: flex;
}

.book-category {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.1rem;
  margin: 5px 0;
  opacity: 0.5;
  color: #121212;
}

.book-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #121212;
  margin: 5px 0 15px 0;
}

.book-actions a {
  font-family: 'Roboto Slab-Light', serif;
  text-decoration: none;
  color: #4386bf;
  font-size: 0.875rem;
}

/* ----- Book Completion Status ---- */

.book-completion-status {
  display: flex;
}

.arc-wrapper {
  position: relative;
  width: 84px;
  height: 68px;
  margin: 5px;
}

.arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  border: 5px solid;
}

.arc-end {
  border-color: #0290ff #0290ff #0290ff transparent;
  transform: rotate(45deg);
  z-index: 100;
}

.arc-start {
  border-color: transparent #e8e8e8 #e8e8e8 #e8e8e8;
  transform: rotate(45deg);
  z-index: 50;
}

.completion-container {
  display: flex;
}

.completion-status {
  margin: auto 0;
}

.book-completion-percentage {
  margin: auto 0;
  align-self: center;
  font-family: 'Montserrat-Regular', sans-serif;
  color: #121212;
  font-size: 2rem;
  margin: 0;
}

.completed-text {
  opacity: 0.5;
  color: #121212;
  margin: 0;
}

/* ---------- Book Completion Status ------ */

.book-completion-status {
  align-self: center;
  width: 250px;
}

.book-progress {
  width: 300px;
}

.book-input {
  width: 360px;
  margin-right: 40px;
}

.category-select {
  width: 210px;
  margin-right: 40px;
}

.add-book-button {
  width: 250px;
}
